In [ ]:
# Deal

In [91]:
import pandas as pd

df = pd.read_excel (r'Deal Register Data upto Aug 2019.xlsx') #for an earlier version of Excel, you may need to use the file extension of 'xls'
df
df1=df

# df2=df1.groupby(['Deal Dt','Market','Qty'],as_index=False)
testdf = pd.DataFrame()
testdf["Deal Dt"]=df1["Deal Dt"]
testdf["Market"]=df1["Market"]
testdf["Qty"]=df1["Qty"]

testdf = testdf.sort_values('Deal Dt',ascending=False)
testdf.to_csv("market.csv")


testdf2 = pd.DataFrame()
testdf2["Deal Dt"]=df1["Deal Dt"]
testdf2["Origin"]=df1["Origin"]
testdf2["Qty"]=df1["Qty"]

testdf2 = testdf2.sort_values('Deal Dt',ascending=False)
testdf2.to_csv("Origin.csv")


testdf3 = pd.DataFrame()
testdf3["Deal Dt"]=df1["Deal Dt"]
testdf3["Buyer"]=df1["Buyer"]
testdf3["Qty"]=df1["Qty"]

testdf3 = testdf3.sort_values('Deal Dt',ascending=False)
testdf3.to_csv("Buyer.csv")

In [ ]:
# Sales

In [8]:
import pandas as pd
sdf = pd.read_csv("F:/Jupyter_work/udemy_code/Sales Register 01.01.2016 - 05.08.2019.csv",encoding = 'unicode_escape') 

sdf1=sdf
sdf1["Date of Sale"]=pd.to_datetime(sdf1['Date of Sale']) 

# df2=df1.groupby(['Deal Dt','Market','Qty'],as_index=False)
# Market
slsdf = pd.DataFrame()
slsdf["Date of Sale"]=sdf1["Date of Sale"]
slsdf["Market"]=sdf1["Market"]
slsdf["Contract Qty"]=sdf1["Contract Qty"]

slsdf = slsdf.sort_values('Date of Sale',ascending=False)
slsdf.to_csv("Smarket.csv")


#Origin
slsdf2 = pd.DataFrame()
slsdf2["Date of Sale"]=sdf1["Date of Sale"]
slsdf2["Origin"]=sdf1["Origin"]
slsdf2["Contract Qty"]=sdf1["Contract Qty"]
slsdf2 = slsdf2.sort_values('Date of Sale',ascending=False)
slsdf2.to_csv("SOrigin_2.csv")


#Buyer
slsdf3 = pd.DataFrame()
slsdf3["Date of Sale"]=sdf1["Date of Sale"]
slsdf3["Buyer"]=sdf1["Buyer"]
slsdf3["Contract Qty"]=sdf1["Contract Qty"]
slsdf3 = slsdf3.sort_values('Date of Sale',ascending=False)
slsdf3.to_csv("SBuyer.csv")

In [ ]:
# final origin input file

In [40]:

import pandas as pd
df = pd.read_csv("F:/Jupyter_work/udemy_code/Sales Register 01.01.2016 - 05.08.2019.csv",encoding = 'unicode_escape') 

df['Date of Sale'] = pd.to_datetime(df['Date of Sale'],format='%d-%m-%y')
df['year']= df['Date of Sale'].dt.year
df['month']= df['Date of Sale'].dt.month

df["year"].apply(str)
df["year"]=df["year"].apply(str)
df["month"].apply(str)
df["month"]=df["month"].apply(str)

# df.columns
df1 = df[[ 'Origin', 'Date of Sale','Contract Qty', 'year', 'month']]
df1 = df1.drop(columns='Date of Sale')
df1
# df1.to_csv('df1.csv')

              Origin  Contract Qty  year month
0          AUSTRALIA         100.0  2019     3
1          AUSTRALIA         300.0  2019     3
2          AUSTRALIA         100.0  2019     3
3          AUSTRALIA         250.0  2019     3
4          AUSTRALIA         500.0  2019     3
...              ...           ...   ...   ...
12143  UNITED STATES         300.0  2016     8
12144  UNITED STATES         500.0  2017     8
12145  UNITED STATES         300.0  2019     8
12146  UNITED STATES         200.0  2019     8
12147  UNITED STATES         200.0  2017     5

[12148 rows x 4 columns]

In [38]:
df_grp = df1.groupby(['Origin','year','month']).sum()
df_grp.reset_index(level=0, inplace=True)
df_grp.reset_index(level=0, inplace=True)
df_grp.reset_index(level=0, inplace=True)
df_grp['Date'] = pd.to_datetime(df_grp.assign(Day=1).loc[:, ['year','month','Day']])
df_grp = df_grp.drop(columns=['month','year'])
df_grp

        Origin  Contract Qty       Date
0    AUSTRALIA     5451.9900 2016-01-01
1    AUSTRALIA    28678.6658 2016-10-01
2    AUSTRALIA    16778.8910 2016-11-01
3    AUSTRALIA    11722.7350 2016-12-01
4    AUSTRALIA    12034.4426 2016-02-01
..         ...           ...        ...
691   ZIMBABWE      400.0000 2019-04-01
692   ZIMBABWE      635.0000 2019-05-01
693   ZIMBABWE      625.0000 2019-06-01
694   ZIMBABWE      800.0000 2019-07-01
695   ZIMBABWE      375.0000 2019-08-01

[696 rows x 3 columns]

In [33]:
df_grp.to_csv("Sorigin2.csv")